# Indicate this file is sourced
export DOT_XPROFILE=1

# Set CapsLock as Ctrl
#setxkbmap -option ctrl:nocaps

# Enable natural scrolling of the touchpad
xinput --set-prop 'SynPS/2 Synaptics TouchPad' 'libinput Natural Scrolling Enabled' 1
