# vim: ft=sh

if [ "${DOT_XPROFILE+x}" ]; then
    return
fi

export DOT_XPROFILE=1

# Enable natural scrolling of the touchpad
#xinput --set-prop 'SynPS/2 Synaptics TouchPad' 'libinput Natural Scrolling Enabled' 1
